<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Layton.Cab.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="TcpipSettings" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
      <section name="IpAddressRanges" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Server" value="" />
    <add key="UseTrustedConnection" value="true" />
    <add key="ProductKey" value=""/>
    <add key="ProductID" value="128"/>
    <add key="CompanyName" value=""/>
    <add key="CompanyID" value=""/>
    <add key="Code1" value=""/>
    <add key="Code2" value=""/>
    <add key="CurrentScannerName" value="default" />
    <add key="auto_upload_enabled" value="True" />
    <add key="delete_after_upload" value="True" />
    <add key="backup_after_upload" value="False" />
    <add key="agent_runassystem" value="True" />
    <add key="agent_username" value="" />
    <add key="agent_password" value="" />
    <add key="licensewizardservice_runassystem" value="True" />
    <add key="licensewizardservice_username" value="" />
    <add key="licensewizardservice_password" value="" />
  </appSettings>
  <TcpipSettings>
    <IpAddressRanges>
      <clear />
      <add key="192.168.0.0" value="192.168.1.0" />
    </IpAddressRanges>
  </TcpipSettings>
  <userSettings>
    <Layton.Cab.Shell.Properties.Settings>
      <setting name="appSplashScreen" serializeAs="String">
        <value>appSplashScreen.png</value>
      </setting>
      <setting name="appAboutScreen" serializeAs="String">
        <value>appAboutScreen.png</value>
      </setting>
      <setting name="appLogo32" serializeAs="String">
        <value>appLogo32.png</value>
      </setting>
      <setting name="appIcon" serializeAs="String">
        <value>LicenseWizard.ico</value>
      </setting>
      <setting name="appVersion" serializeAs="String">
        <value>8.1.0</value>
      </setting>
      <setting name="settingsPanelSize" serializeAs="String">
        <value>475, 400</value>
      </setting>
      <setting name="ProductKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductID" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value />
      </setting>
      <setting name="CompanyID" serializeAs="String">
        <value />
      </setting>
      <setting name="Code1" serializeAs="String">
        <value />
      </setting>
      <setting name="Code2" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrentScannerName" serializeAs="String">
        <value>default</value>
      </setting>
      <setting name="auto_upload_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="delete_after_upload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="backup_after_upload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="agent_runasssystem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="agent_username" serializeAs="String">
        <value />
      </setting>
      <setting name="agent_password" serializeAs="String">
        <value />
      </setting>
      <setting name="uploader_runassystem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="uploader_username" serializeAs="String">
        <value />
      </setting>
      <setting name="uploader_password" serializeAs="String">
        <value />
      </setting>
      <setting name="email_runassystem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="email_username" serializeAs="String">
        <value />
      </setting>
      <setting name="email_password" serializeAs="String">
        <value />
      </setting>
      <setting name="appName" serializeAs="String">
        <value>LicenseWizard</value>
      </setting>
      <setting name="appHelpFile" serializeAs="String">
        <value>LicenseWizard.chm</value>
      </setting>
      <setting name="initWorkItem" serializeAs="String">
        <value>WorkflowWorkItem</value>
      </setting>
      <setting name="licensewizardservice_runassystem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="licensewizardservice_username" serializeAs="String">
        <value />
      </setting>
      <setting name="licensewizardservice_password" serializeAs="String">
        <value />
      </setting>
    </Layton.Cab.Shell.Properties.Settings>
  </userSettings>
</configuration>