<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Layton.AuditWizard.Applications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Layton.AuditWizard.Applications.Properties.Settings>
            <setting name="Image" serializeAs="String">
                <value>application_32</value>
            </setting>
            <setting name="MainWorkItem" serializeAs="String">
                <value>ApplicationsWorkItem</value>
            </setting>
            <setting name="WorkItemController" serializeAs="String">
                <value>ApplicationsWorkItemController</value>
            </setting>
            <setting name="ToolbarsController" serializeAs="String">
                <value>ApplicationsToolbarsController</value>
            </setting>
            <setting name="MainTabView" serializeAs="String">
                <value>ApplicationsTabView</value>
            </setting>
            <setting name="MainExplorerView" serializeAs="String">
                <value>ApplicationsExplorerView</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>Layton.AuditWizard.Applications</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Application Licensing</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>AuditWizard Application Licensing View</value>
            </setting>
            <setting name="LicensesTabView" serializeAs="String">
                <value>LicensesTabView</value>
            </setting>
            <setting name="InstancesTabView" serializeAs="String">
                <value>InstancesTabView</value>
            </setting>
            <setting name="OSTabView" serializeAs="String">
                <value>OSTabView</value>
            </setting>
            <setting name="AlertsTabView" serializeAs="String">
                <value>AlertsTabView</value>
            </setting>
            <setting name="RefreshPublisherList" serializeAs="String">
                <value>False</value>
            </setting>
        </Layton.AuditWizard.Applications.Properties.Settings>
    </applicationSettings>
</configuration>