<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Layton.AuditWizard.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Layton.AuditWizard.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Layton.AuditWizard.Reports.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Reports</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>This is the reporting module for AuditWizard</value>
            </setting>
            <setting name="Image" serializeAs="String">
                <value>generalreporting16</value>
            </setting>
            <setting name="MainTabView" serializeAs="String">
                <value>ReportsTabView</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>Layton.AuditWizard.Reports</value>
            </setting>
            <setting name="MainWorkItem" serializeAs="String">
                <value>ReportsWorkItem</value>
            </setting>
            <setting name="WorkItemController" serializeAs="String">
                <value>ReportsWorkItemController</value>
            </setting>
            <setting name="MainExplorerView" serializeAs="String">
                <value>ReportsExplorerView</value>
            </setting>
            <setting name="ToolbarsController" serializeAs="String">
                <value>ReportsToolbarsController</value>
            </setting>
        </Layton.AuditWizard.Reports.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Layton.AuditWizard.Reports.Properties.Settings>
            <setting name="RunReportAfterLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </Layton.AuditWizard.Reports.Properties.Settings>
    </userSettings>
</configuration>