<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Layton.AuditWizard.Administration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Layton.AuditWizard.Administration.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Administration</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Administration module for AuditWizard</value>
            </setting>
            <setting name="Image" serializeAs="String">
                <value>administration</value>
            </setting>
            <setting name="MainWorkItem" serializeAs="String">
                <value>AdministrationWorkItem</value>
            </setting>
            <setting name="WorkItemController" serializeAs="String">
                <value>AdministrationWorkItemController</value>
            </setting>
            <setting name="ToolbarsController" serializeAs="String">
                <value>AdministrationToolbarsController</value>
            </setting>
            <setting name="MainTabView" serializeAs="String">
                <value>SecurityTabView</value>
            </setting>
            <setting name="MainExplorerView" serializeAs="String">
                <value>AdministrationExplorerView</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>Layton.AuditWizard.Administration</value>
            </setting>
            <setting name="ServiceTabView" serializeAs="String">
                <value>ServiceTabView</value>
            </setting>
            <setting name="EmailSettingsTabView" serializeAs="String">
                <value>EmailSettingsTabView</value>
            </setting>
            <setting name="UploadSettingsTabView" serializeAs="String">
                <value>UploadSettingsTabView</value>
            </setting>
            <setting name="AuditAgentTabView" serializeAs="String">
                <value>AuditAgentTabView</value>
            </setting>
            <setting name="LicenseTypesTabView" serializeAs="String">
                <value>LicenseTypesTabView</value>
            </setting>
            <setting name="SerialNumbersTabView" serializeAs="String">
                <value>SerialNumbersTabView</value>
            </setting>
            <setting name="SuppliersTabView" serializeAs="String">
                <value>SuppliersTabView</value>
            </setting>
            <setting name="SecurityTabView" serializeAs="String">
                <value>SecurityTabView</value>
            </setting>
            <setting name="UserDataTabView" serializeAs="String">
                <value>UserDefinedDataTabView</value>
            </setting>
            <setting name="AssetTypesTabView" serializeAs="String">
                <value>AssetTypesTabView</value>
            </setting>
            <setting name="PickListTabView" serializeAs="String">
                <value>PickListTabView</value>
            </setting>
            <setting name="LocationsTabView" serializeAs="String">
                <value>LocationsTabView</value>
            </setting>
            <setting name="ScannerConfigurationTabView" serializeAs="String">
                <value>ScannerConfigurationTabView</value>
            </setting>
            <setting name="DatabaseTabView" serializeAs="String">
                <value>DatabaseTabView</value>
            </setting>
            <setting name="ToolsTabView" serializeAs="String">
                <value>ToolsTabView</value>
            </setting>
            <setting name="AlertMonitorSettingsTabView" serializeAs="String">
                <value>AlertMonitorSettingsTabView</value>
            </setting>
            <setting name="AliasingTabView" serializeAs="String">
                <value>AliasingTabView</value>
            </setting>
        </Layton.AuditWizard.Administration.Properties.Settings>
    </applicationSettings>
</configuration>