<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Layton.AuditWizard.Network.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Layton.AuditWizard.Network.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Layton.AuditWizard.Network.Properties.Settings>
            <setting name="Description" serializeAs="String">
                <value>AuditWizard Network View</value>
            </setting>
            <setting name="Image" serializeAs="String">
                <value>AuditWizard_32</value>
            </setting>
            <setting name="MainWorkItem" serializeAs="String">
                <value>NetworkWorkItem</value>
            </setting>
            <setting name="WorkItemController" serializeAs="String">
                <value>NetworkWorkItemController</value>
            </setting>
            <setting name="ToolbarsController" serializeAs="String">
                <value>NetworkToolbarsController</value>
            </setting>
            <setting name="MainTabView" serializeAs="String">
                <value>GroupTabView</value>
            </setting>
            <setting name="MainExplorerView" serializeAs="String">
                <value>NetworkExplorerView</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>Layton.AuditWizard.Network</value>
            </setting>
            <setting name="ComputerTabView" serializeAs="String">
                <value>ComputerTabView</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Network View</value>
            </setting>
            <setting name="SummaryTabView" serializeAs="String">
                <value>SummaryTabView</value>
            </setting>
            <setting name="ApplicationInstancesTabView" serializeAs="String">
                <value>ApplicationInstancesTabView</value>
            </setting>
            <setting name="AuditedDataTabView" serializeAs="String">
                <value>AuditedDataTabView</value>
            </setting>
            <setting name="UserDefinedDataTabView" serializeAs="String">
                <value>UserDefinedDataTabView</value>
            </setting>
            <setting name="HistoryTabView" serializeAs="String">
                <value>HistoryTabView</value>
            </setting>
        </Layton.AuditWizard.Network.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Layton.AuditWizard.Network.Properties.Settings>
            <setting name="ViewStyle" serializeAs="String">
                <value>Tiles</value>
            </setting>
            <setting name="AlwaysShowOperationsLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSearchString" serializeAs="String">
                <value />
            </setting>
        </Layton.AuditWizard.Network.Properties.Settings>
    </userSettings>
</configuration>